header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.07);

    top: 0;
    z-index: 1;
    
    height: 56px;
    width: 100%;
    padding-left: 10px;
    
    > * {
        display: inline-block;
    }

}

.left-nav > * {
    display: inline-block;
}

#logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;

    margin-left: 15px;
    
    > * {
        display: inline-block;
    }

    svg {
        width: 30px;
        height: auto;
    }
    
    h2 {
        // display: inline-block;
        font-size: 17px;
        
        margin: 0;
    }

}


.search-form {
    height: 32px;
    width: 30%;
    max-width: 750px;
    min-width: 250px;
    
    display: flex;
    flex-direction: row;
    // flex: 1;

    border: 1px solid lightgray;

    button, input {
        box-sizing: border-box;
        height: 100%;
    }

    input {
        width: 100%;
        padding: 1px 5px;
        border: none;
        border-right: 1px solid lightgray;
    }

    button {
        background-color: rgb(245, 245, 245);
        
        width: 65px;
        border: none;
    }
    
    svg {
        display: inline-block;
        fill: gray;
        height: 20px;
        width: 20px;
    }
}

.right-nav {
    display: flex;
    align-items: center;
}

.nav-btn {
    display: inline-block;
    background-color: transparent;

    border: none;
    
    svg {
        display: inline-block;
        margin-top: 4px;
        
        fill: gray;
        height: 24px;
        width: 24px;
    }
}

.login-btn {
    color: #065fd4;
    
    width: 70px;
    padding: 5px 11px;
    border: 1px solid #065fd4;
    border-radius: 2px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    
    svg {
        display: inline-block;
        // margin-top: 4px;
        
        fill: #065fd4;
        height: 20px;
        width: 20px;
    }

    span {
        margin-left: 8px;
        font: 600 14px "Roboto", "Arial", sans-serif;
        text-decoration: none;
    }
}

.logout-btn {
    color: rgb(93, 93, 93);
    background-color: transparent;
    
    padding: 8px;
    margin-right: 15px;
    border: none;

    font-weight: 700;
}

.logout-btn:hover {
    background-color: rgba(228, 228, 228, 0.315);
}