.video-show {
    video {
        display: block;
        width: 100%;
    }
    
    h1 {
        font: 18px "Roboto", Arial, sans-serif;
    }
}

.video-content-wrapper {
    width: 93%;
    max-width: 1300px;
    margin: 0 auto;

}



// meta info
.primary-info {
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
    
    
}

.video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 30px;
}

.video-btn-container {
    button {
        background-color: transparent;
        border: none;
        padding: 8px;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: gray;
    }

    .active-like-btn svg {
        fill: rgb(0, 140, 255)
    }
}

#dislike-btn {
    // transform: rotate(180deg);
}

#views-and-date {
    font-size: 14px;
}

.secondary-info {
    padding-top: 10px
}

.video-owner-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-info {
        display: flex;
        align-items: center;
    }

    .video-owner-text {
        display: inline-block;
        
        // display: flex;
        // flex-direction: column;
        // justify-items: center;
    }
    

    img {
        display: inline-block;

        margin-right: 16px;
        border-radius: 100%;
        // border: 1px solid green;
        width: 48px;
        height: 48px;
    }
    
    h3 {
        top: 10px;
        font-size: 14px;
        font-weight: 500;

        margin: 0;
    }
    
    #subscribe {
        float: right;
        box-sizing: content-box;

        font: 14px "Roboto", Arial, sans-serif;
        letter-spacing: 0.007px;
        background-color: rgb(204, 0, 0);
        color: white;

        // height: 30px;
        padding: 10px 16px;
        border: none;
    }

}
.description p {
    font: 14px "Roboto", Arial, sans-serif;

    margin-left: 64px;
}